* {
    box-sizing: border-box;
}

#container {
    box-sizing: border-box;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
}

.cell {
    position: relative;
    background-color: rebeccapurple;
    border: 0px solid black;
}

.entrance {
    background-color: red;
}

.exit {
    background-color: chartreuse;
}